.container {
  width: 100%;
  height: 4.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45%;
  background: white;
  box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.25);
}

.img {
  width: 10vw;
  margin-top: 0.2vw;
}

.menu {
  display: flex;
  gap: 2.4vw;
}

.link {
  color: #424242;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  margin: 1% 0 0 0;
  cursor: pointer;
}
.link2 {
  font-size: 20px;
  color: black;
  padding: 5px 14px 5px 14px;
  border-radius: 8px;
  border: solid 2.5px #f9ed32;
  background-color: white;
  cursor: pointer;
}
.link3 {
  font-size: 20px;
  color: black;
  padding: 5px 14px 5px 14px;
  border-radius: 8px;
  border: solid 1px #f9ed32;
  background-color: #f9ed32;
  cursor: pointer;
}
.call {
  color: #424242;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
}

.hamburger {
  display: none;
}

.menu2 {
  display: none;
}

@media screen and (max-width: 464px) {
  .container {
    height: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45%;
    background: white;
    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.25);
    position: relative;
  }

  .img {
    width: 26vw;
    margin-top: 0.2vw;
  }

  .menu {
    display: none;
  }

  .link {
    color: #fff;
    font-size: 6vw;
  }

  .call {
    color: #fff;
    font-size: 6vw;
  }

  .hamburger {
    display: block;
  }

  .menu2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    position: absolute;
    top: 12vw;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 46vw;
    background-color: black;
    opacity: 85%;
  }
}
